* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* HEADER STYLES */

header {
  background: rgba(0, 0, 0, 0.8);
}
a {
  text-decoration: none;
}

nav {
  width: 100%;
}
nav a {
  color: white;
}

nav ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
}

.shop-div {
  background-color: #fbfbfd;
}

.shop-online {
  padding: 20px 0;
  text-align: center;
  width: 610px;
  margin: auto;
}
.full-width-section {
  width: 100%;
  height: 650px;
  padding-top: 40px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-position: center;
  background-size: cover;
}

.full-width-section a {
  color: blue;
}

.full-width-section div {
  width: 150px;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.iphone-13-pro {
  background-image: url("https://www.apple.com/v/home/aj/images/heroes/iphone-13-pro/hero_iphone_13pro__dhnsegysa42u_medium.jpg");
}
.iphone-13 {
  background-image: url("https://www.apple.com/v/home/aj/images/heroes/iphone-13/hero_iphone_13__f194u1rdooeq_medium.jpg");
}
.valentine-day {
  background-image: url("https://www.apple.com/v/home/aj/images/heroes/valentines-day-last-chance/hero_vday22__bt5gpd2vjafm_medium.jpg");
}

/*Multi Styles*/
.multi {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.multi article {
  height: 528px;
  width: 45%;
  margin-bottom: 20px;
  background-position: center;
  background-size: cover;
}
.watch {
  background-image: url("https://www.apple.com/v/home/aj/images/promos/watch-series-7/tile_watch__e9n11b6m6yq2_medium.jpg");
}
.shot {
  background-image: url("https://www.apple.com/v/home/aj/images/promos/shot-on-iphone/tile_soip__f0c6lef982em_medium.jpg");
}
.heart {
  background-image: url("https://www.apple.com/v/home/aj/images/promos/watch-heart-month/promo_watch_heart__dlf8uc5h0kae_medium.jpg");
}
.watch-black {
  background-image: url("https://www.apple.com/v/home/aj/images/promos/watch-black-unity/promo_watch__fo7j0tnywi2q_medium.jpg");
}
.apple-card {
  background-image: url("https://www.apple.com/v/home/aj/images/promos/apple-card/tile__cauwwcyyn9hy_medium.jpg");
}
.tv {
  background-image: url("https://www.apple.com/v/home/aj/images/promos/tv-plus-the-sky-is-everywhere/promo_sky__fu99g2ymabiy_medium.jpg");
}

/*Media Queries*/

@media screen and (max-width: 475px) {
  nav ul {
    flex-direction: column;
  }
  .multi {
    flex-direction: column;
  }
  .multi article {
    width: 100%;
  }
  .full-width-section {
    background-size: cover;
  }
  .iphone-13-pro {
    background-image: url("https://www.apple.com/v/home/aj/images/heroes/iphone-13-pro/hero_iphone_13pro__dhnsegysa42u_small_2x.jpg");
  }
  .iphone-13 {
    background-image: url("https://www.apple.com/v/home/aj/images/heroes/iphone-13/hero_iphone_13__f194u1rdooeq_small_2x.jpg");
  }
  .valentine-day {
    background-image: url("https://www.apple.com/v/home/aj/images/heroes/valentines-day-last-chance/hero_vday22__bt5gpd2vjafm_small_2x.jpg");
  }
  
  .watch {
    background-image: url("https://www.apple.com/v/home/aj/images/promos/watch-series-7/tile_watch__e9n11b6m6yq2_small_2x.jpg");
  }
  .shot {
    background-image: url("https://www.apple.com/v/home/aj/images/promos/shot-on-iphone/tile_soip__f0c6lef982em_small_2x.jpg");
  }
  .heart {
    background-image: url("https://www.apple.com/v/home/aj/images/promos/watch-heart-month/promo_watch_heart__dlf8uc5h0kae_small_2x.jpg");
  }
  .watch-black {
    background-image: url("https://www.apple.com/v/home/aj/images/promos/watch-black-unity/promo_watch__fo7j0tnywi2q_small_2x.jpg");
  }
  .apple-card {
    background-image: url("https://www.apple.com/v/home/aj/images/promos/apple-card/tile__cauwwcyyn9hy_small_2x.jpg");
  }
  .tv {
    background-image: url("https://www.apple.com/v/home/aj/images/promos/tv-plus-the-sky-is-everywhere/promo_sky__fu99g2ymabiy_small_2x.jpg");
  }
}
