* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
}

/* HEADER STYLES */

header {
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
a {
  text-decoration: none;
  color: #2997ff;
}

nav {
  width: 100%;
}
nav a {
  color: #f5f5f7;
  font-size: 12px;
}

nav ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
}

.search-icon {
  background-size: 15px 88px;
  width: 15px;
  height: 44px;
  background-repeat: no-repeat;
  background-image: url("https://www.apple.com/ac/globalnav/7/en_US/images/be15095f-5a20-57d0-ad14-cf4c638e223a/globalnav_search_image__cbllq1gkias2_large.svg");
}
.bag-icon {
  background-size: 13px 44px;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("https://www.apple.com/ac/globalnav/7/en_US/images/be15095f-5a20-57d0-ad14-cf4c638e223a/globalnav_bag_image__yzte50i47ciu_large.svg");
  width: 13px;
  height: 44px;
}

.apple-icon {
  background-size: 14px 44px;
  background-repeat: no-repeat;
  background-image: url("https://www.apple.com/ac/globalnav/7/en_US/images/be15095f-5a20-57d0-ad14-cf4c638e223a/globalnav_apple_image__b5er5ngrzxqq_large.svg");
  background-position: center center;
  width: 14px;
  height: 44px;
}

.shop-online {
  padding: 20px 0;
  text-align: center;
  background-color: #fbfbfd;
  font-size: 14px;
}

/*Full Width Section Styles*/
main {
  margin-top: 39px;
}

.full-width-section {
  width: 100%;
  height: 650px;
  padding-top: 40px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-position: center;
  background-size: cover;
}

.full-width-section a {
  color: #2997ff;
  font-size: 19px;
}

.full-width-section div {
  width: 150px;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.iphone-13-pro {
  background-image: url("https://www.apple.com/v/home/aj/images/heroes/iphone-13-pro/hero_iphone_13pro__dhnsegysa42u_medium.jpg");
}
.iphone-13-pro h1 {
  font-size: 48px;
}
.iphone-13 {
  background-image: url("https://www.apple.com/v/home/aj/images/heroes/iphone-13/hero_iphone_13__f194u1rdooeq_medium.jpg");
}
.iphone-13 h1 {
  font-size: 48px;
  color: white;
}
.iphone-13 h2 {
  color: #fec2eb;
}
.valentine-day {
  background-image: url("https://www.apple.com/v/home/aj/images/heroes/valentines-day-last-chance/hero_vday22__bt5gpd2vjafm_medium.jpg");
  color: #602d62;
}
.valentine-day h1 {
  font-size: 48px;
}

/*Multi Styles*/
.multi {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.multi article {
  height: 528px;
  width: 48%;
  margin-bottom: 20px;
  background-position: center;
  background-size: cover;
  text-align: center;
}
.watch {
  background-image: url("https://www.apple.com/v/home/aj/images/promos/watch-series-7/tile_watch__e9n11b6m6yq2_medium.jpg");
  text-align: center;
}
.watch span:first-child {
  color: #bf4800;
  font-size: 12px;
}
.watch-content {
  margin-top: 20px;
}
.watch-content h5 {
  margin-top: 11px;
  font-size: 19px;
  font-weight: 400;
}
.watch-links {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.watch-links a:first-child {
  margin-right: 20px;
}
.shot {
  background-image: url("https://www.apple.com/v/home/aj/images/promos/shot-on-iphone/tile_soip__f0c6lef982em_medium.jpg");
}
.shot-content {
  margin-top: 30px;
}
.shot-content h4 {
  font-size: 32px;
}
.shot-content h5 {
  font-size: 19px;
  font-weight: 400;
  margin-bottom: 20px;
}

.heart {
  background-image: url("https://www.apple.com/v/home/aj/images/promos/watch-heart-month/promo_watch_heart__dlf8uc5h0kae_medium.jpg");
}
.heart span {
  color: #bf4800;
  font-size: 12px;
}
.heart-content {
  margin-top: 20px;
}
.heart-content h4 {
  font-size: 32px;
}
.heart-content h5 {
  font-size: 19px;
  font-weight: 400;
  margin-bottom: 20px;
}
.watch-black {
  background-image: url("https://www.apple.com/v/home/aj/images/promos/watch-black-unity/promo_watch__fo7j0tnywi2q_medium.jpg");
  color: white;
}
.watch-black-content {
  margin-top: 30px;
}
.watch-black-content h4 {
  font-size: 32px;
}
.watch-black-content h5 {
  font-size: 19px;
  font-weight: 400;
}
.watch-black-links {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.watch-black-links a:first-child {
  margin-right: 20px;
}
.apple-card {
  background-image: url("https://www.apple.com/v/home/aj/images/promos/apple-card/tile__cauwwcyyn9hy_medium.jpg");
}
.apple-card-content {
  margin-top: 30px;
}
.apple-card-content h5 {
  font-size: 19px;
  font-weight: 400;
}
.apple-logo {
  margin-bottom: 10px;
}
.apple-card-links {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.apple-card-links a:first-child {
  margin-right: 20px;
}
.tv {
  background-image: url("https://www.apple.com/v/home/aj/images/promos/tv-plus-the-sky-is-everywhere/promo_sky__fu99g2ymabiy_medium.jpg");
}
.tv-images {
  margin-top: 30px;
}
.tv-images div:first-child {
  margin-bottom: 10px;
}
footer {
  background-color: #f5f5f7;
  color: #6e6e73;
  padding-top: 19px;
}

footer p {
  width: 65%;
  margin: auto;
  text-align: left;
  font-size: 13px;
}

footer hr {
  color: lightgray;
  text-align: center;
  width: 65%;
  margin: auto;
}

/*Media Queries*/

@media screen and (max-width: 475px) {
  nav ul {
    flex-direction: column;
  }
  nav li {
    display: none;
  }
  .show-on-small-screen {
    display: block;
  }
  .multi {
    flex-direction: column;
  }
  .multi article {
    width: 100%;
  }
  .full-width-section {
    background-size: cover;
  }
  .iphone-13-pro {
    background-image: url("https://www.apple.com/v/home/aj/images/heroes/iphone-13-pro/hero_iphone_13pro__dhnsegysa42u_small_2x.jpg");
  }
  .iphone-13 {
    background-image: url("https://www.apple.com/v/home/aj/images/heroes/iphone-13/hero_iphone_13__f194u1rdooeq_small_2x.jpg");
  }
  .valentine-day {
    background-image: url("https://www.apple.com/v/home/aj/images/heroes/valentines-day-last-chance/hero_vday22__bt5gpd2vjafm_small_2x.jpg");
  }

  .watch {
    background-image: url("https://www.apple.com/v/home/aj/images/promos/watch-series-7/tile_watch__e9n11b6m6yq2_small_2x.jpg");
  }
  .shot {
    background-image: url("https://www.apple.com/v/home/aj/images/promos/shot-on-iphone/tile_soip__f0c6lef982em_small_2x.jpg");
  }
  .heart {
    background-image: url("https://www.apple.com/v/home/aj/images/promos/watch-heart-month/promo_watch_heart__dlf8uc5h0kae_small_2x.jpg");
  }
  .watch-black {
    background-image: url("https://www.apple.com/v/home/aj/images/promos/watch-black-unity/promo_watch__fo7j0tnywi2q_small_2x.jpg");
  }
  .apple-card {
    background-image: url("https://www.apple.com/v/home/aj/images/promos/apple-card/tile__cauwwcyyn9hy_small_2x.jpg");
  }
  .tv {
    background-image: url("https://www.apple.com/v/home/aj/images/promos/tv-plus-the-sky-is-everywhere/promo_sky__fu99g2ymabiy_small_2x.jpg");
  }
}
